@group: user;

div,
p {
	&.@{group}-show {
		display: block !important;
	}
}

span,
small {
	&.@{group}-show {
		display: inline !important;
	}
}

table.@{group}-show {
	display: table !important;
}

tr.@{group}-show {
	display: table-row !important;
}

td.@{group}-show {
	display: table-cell !important;
}

li.@{group}-show {
	display: list-item !important;
}

.anonymous-show,
.user-hide {
	display: none !important;
}

/* 仅登录用户可见“特殊页面”菜单 */
li#t-specialpages {
	display: list-item !important;
}

.mw-noarticletext-module.user-show {
	display: flex !important;
	flex: 1 1 20em;
	flex-direction: column;
	align-items: center;
	padding: 1em;
}

body {
	&:not(.page-有兽档案馆_首页) {
		#catlinks:not(.catlinks-allhidden) {
			display: block !important;

			.skin-citizen & {
				display: flex !important;
			}
		}
	}
}
