@import (reference) '../variables.less';

.gadget-geo_location_reader {
	display: inline-block;
	margin: 0 0.25em !important;
	padding: 0 0.5em !important;
	border: 1px solid @const-color-gray;
	white-space: nowrap;
	border-radius: @border-radius--small;
	font-size: 0.9em;

	.mw-footer & {
		margin-bottom: 0.25em !important;

		.ve-activated & {
			display: none;
		}
	}

	&-green {
		border-color: @color--success;
		color: @color--success !important;
	}

	&-orange {
		border-color: @color--warning;
		color: @color--warning !important;
	}

	&__icon {
		margin: 0;

		&::before {
			display: inline-block;
			width: 15px;
			height: 15px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 15px;
			content: '';
			vertical-align: middle;
		}

		&-globe::before {
			background-image: data-uri('./images/globe.svg');
		}

		&-helpNotice::before {
			background-image: data-uri('./images/helpNotice.svg');
		}
	}

	&__text {
		margin-left: 5px;
		vertical-align: middle;
	}
}
