.specialwikitext__preview-loading {
	&-inner {
		margin: auto;
		padding: 0.5em;
		width: 50%;
		border: 1px solid #aaa;
		background: #f9f9f9;
		font-size: 88%;
	}

	&-content {
		background: #f9f9f9;
		color: #000;
		text-align: center;
		font-size: larger;
	}
}
