/* 优化条目分类显示效果 */
.mw-normal-catlinks {
	font-size: unset;
	width: 100%;
	padding: 2em min(1.8em, 4vw) 2em min(1.8em, 4vw);
	background: #f0f8ffa6;
	border-radius: 10px;
}

/* 分类冒号不换行 By Baigei */
.mw-normal-catlinks > a {
	display: inline;
}
