/* WIKI背景图 （新年） */
/* 原背景图 https://youshou.wiki/images/f/ff/%E6%9C%89%E5%85%BD%E7%84%89%E5%8A%A8%E7%94%BB%E6%88%AA%E5%9B%BE.jpg */
/* 基础样式 */
body {
	background: url('https://youshou.wiki/images/d/d0/2024%E9%99%A4%E5%A4%95%E8%B4%BA%E5%9B%BE.jpg') repeat fixed 100% 0;
	background-size: contain;
	background-attachment: local;
}
.client-darkmode body {
	background: url('https://youshou.wiki/images/d/d7/2024%E9%99%A4%E5%A4%95%E8%B4%BA%E5%9B%BE-%E5%8F%8D%E8%89%B2.jpg')
		repeat fixed 100% 0;
}
