.mw-body-content h2 {
	margin: 15px 0 20px;
	border: 0;
	background: url('https://youshou.wiki/images/f/f4/%E6%A0%87%E9%A2%98%E6%A0%8F%E7%9A%AE%E7%9A%AE.png') right top/61px
		no-repeat;
	background-position: right 10px top 10px;
}
