/* 页面内容宽度 */
@media (min-width: 1440px) {
	.ns-0 .mw-body-content .mw-parser-output > * {
		margin-right: 0 !important;
	}

	.ns-0 .mw-body-content .mw-parser-output > div.tleft,
	.ns-0 .mw-body-content .mw-parser-output > div.floatleft,
	.ns-0 .mw-body-content .mw-parser-output > table.floatleft {
		margin-right: 1.25rem !important;
	}

	.ns-0 .mw-body-content .mw-parser-output > table:not(.metadata, .infobox, .vertical-navbox) {
		margin: 0 auto !important;
	}
}
