.addIcon(@url) {
	a::before {
		content: url(@url);
		background-image: linear-gradient(transparent, transparent);
		display: inline-block;
		width: 20px;
		height: 20px;
		vertical-align: middle;
	}
}

#n-teahouse {
	.addIcon('https://youshou.wiki/images/e/ed/Teahouse_icon.svg');
}

#n-noticeboard {
	.addIcon('https://youshou.wiki/images/1/18/Notice_board_icon.svg');
}

#n-contributionscores {
	.addIcon('https://youshou.wiki/images/0/07/Contribution_score_icon.svg');
}

#n-helpmenu {
	.addIcon('https://youshou.wiki/images/2/2b/Help_menu_icon.svg');
}

#n-getstart {
	.addIcon('https://youshou.wiki/images/2/22/Get_start_icon.svg');
}

#n-formatbook {
	.addIcon('https://youshou.wiki/images/3/33/Format_book_icon.svg');
}

#n-rules {
	.addIcon('https://youshou.wiki/images/2/2e/Rules_icon.svg');
}

#n-fanmade-mainpage {
	.addIcon('https://youshou.wiki/images/0/02/Fanmade_mainpage_icon.svg');
}

#n-fanmade-guide {
	.addIcon('https://youshou.wiki/images/7/71/Fanmade_guide_icon.svg');
}
