/* 深色模式颜色主题配置 */
html.client-darkmode body {
	/* 因为反色body之后深色模式控件变成了浅色 所以要反回来 怎么样 是不是很神奇 */
	color-scheme: only light;

	--color-surface-0: hsl(0, 0%, 100%);
	--color-surface-1: hsl(0, 0%, 90%);
	--color-surface-2: hsl(210, 17%, 88%);
	--color-surface-3: hsl(220, 17%, 87%);
	--color-surface-4: hsl(213, 9%, 85%);
}
