/* 可视化编辑器界面，隐藏标题 */
.ve-activated h1#firstHeading {
	display: none;
}

.ve-activated .citizen-body-header--sticky .mw-body-header::before {
	display: none;
}

.ve-init-mw-desktopArticleTarget #bodyContent {
	margin-top: calc(2 * var(--space-md));
}
