{
	"presets": [
		[
			"@babel/preset-env",
			{
				"bugfixes": true,
				"corejs": {
					"version": "3.33",
					"proposals": true
				},
				"modules": false,
				"useBuiltIns": "usage"
			}
		]
	],
	"plugins": [
		"@babel/plugin-transform-member-expression-literals",
		"@babel/plugin-transform-property-literals",
		"@babel/plugin-transform-reserved-words"
	],
	"compact": false
}
