{
	"presets": [
		[
			"@babel/preset-env",
			{
				"bugfixes": true,
				"corejs": {
					"version": "3.33",
					"proposals": true
				},
				"modules": false,
				"useBuiltIns": "usage"
			}
		]
	],
	"compact": false
}
