# https://gitlab.wikimedia.org/repos/ci-tools/browserslist-config-wikimedia/-/blob/main/modern.json
# chrome 88
# edge 87
# firefox 91
# safari 11
# ios 11.0
# android 119

extends browserslist-config-wikimedia/modern
