{
	"root": true,
	"plugins": ["@typescript-eslint", "unicorn"],
	"extends": [
		"wikimedia/client-common",
		"wikimedia/language/es2022",
		"wikimedia/mediawiki",
		"wikimedia/jquery",
		"plugin:@typescript-eslint/recommended",
		"plugin:unicorn/all",
		"prettier"
	],
	"parserOptions": {
		"parser": "@typescript-eslint/parser"
	},
	"globals": {},
	"rules": {
		"array-callback-return": [
			"error",
			{
				"allowImplicit": true
			}
		],
		"no-await-in-loop": "off",
		"no-constant-binary-expression": "error",
		"no-constructor-return": "error",
		"no-duplicate-imports": "error",
		"no-new-native-nonconstructor": "error",
		"no-promise-executor-return": "error",
		"no-self-compare": "error",
		"no-template-curly-in-string": "error",
		"no-unmodified-loop-condition": "error",
		"no-unreachable-loop": "error",
		"no-unused-private-class-members": "error",
		"no-use-before-define": "off",
		"require-atomic-updates": "off",
		"accessor-pairs": "error",
		"arrow-body-style": ["error", "always"],
		"block-scoped-var": "error",
		"camelcase": "off",
		"capitalized-comments": "off",
		"class-methods-use-this": "error",
		"complexity": "off",
		"consistent-return": "off",
		"consistent-this": "off",
		"curly": "error",
		"default-case": "off",
		"default-case-last": "error",
		"default-param-last": "error",
		"dot-notation": "off",
		"eqeqeq": "error",
		"func-name-matching": "error",
		"func-names": "off",
		"func-style": "error",
		"grouped-accessor-pairs": "error",
		"guard-for-in": "error",
		"id-denylist": "error",
		"id-length": "off",
		"id-match": "error",
		"init-declarations": "off",
		"logical-assignment-operators": "error",
		"max-classes-per-file": "off",
		"max-depth": "off",
		"max-lines": "off",
		"max-lines-per-function": "off",
		"max-nested-callbacks": "error",
		"max-params": "off",
		"max-statements": "off",
		"multiline-comment-style": "off",
		"new-cap": "error",
		"no-alert": "off",
		"no-array-constructor": "error",
		"no-bitwise": "error",
		"no-caller": "error",
		"no-confusing-arrow": "error",
		"no-console": "off",
		"no-continue": "off",
		"no-div-regex": "error",
		"no-else-return": "error",
		"no-empty-function": ["error", {"allow": ["arrowFunctions"]}],
		"no-empty-static-block": "error",
		"no-eq-null": "error",
		"no-eval": "error",
		"no-extend-native": "error",
		"no-extra-bind": "error",
		"no-extra-label": "error",
		"no-floating-decimal": "error",
		"no-implicit-coercion": "error",
		"no-implicit-globals": "error",
		"no-implied-eval": "error",
		"no-inline-comments": "off",
		"no-invalid-this": "off",
		"no-iterator": "error",
		"no-label-var": "error",
		"no-labels": "error",
		"no-lone-blocks": "error",
		"no-lonely-if": "error",
		"no-loop-func": "error",
		"no-magic-numbers": "off",
		"no-mixed-operators": "off",
		"no-multi-assign": "error",
		"no-multi-str": "error",
		"no-negated-condition": "error",
		"no-nested-ternary": "off",
		"no-new": "error",
		"no-new-func": "error",
		"no-new-wrappers": "error",
		"no-object-constructor": "error",
		"no-octal-escape": "error",
		"no-param-reassign": "off",
		"no-plusplus": "off",
		"no-proto": "error",
		"no-restricted-exports": "error",
		"no-restricted-globals": "error",
		"no-restricted-imports": "error",
		"no-restricted-properties": "error",
		"no-restricted-syntax": "error",
		"no-return-assign": "error",
		"no-script-url": "error",
		"no-sequences": "error",
		"no-shadow": "error",
		"no-ternary": "off",
		"no-throw-literal": "error",
		"no-undef-init": "error",
		"no-undefined": "off",
		"no-underscore-dangle": "off",
		"no-unneeded-ternary": "error",
		"no-unused-expressions": "off",
		"no-useless-call": "error",
		"no-useless-computed-key": "error",
		"no-useless-concat": "error",
		"no-useless-constructor": "error",
		"no-useless-rename": "error",
		"no-useless-return": "error",
		"no-var": "error",
		"no-void": "error",
		"no-warning-comments": "off",
		"object-shorthand": "error",
		"one-var": "off",
		"one-var-declaration-per-line": "error",
		"operator-assignment": "error",
		"prefer-arrow-callback": ["error", {"allowNamedFunctions": true}],
		"prefer-const": "error",
		"prefer-destructuring": "error",
		"prefer-exponentiation-operator": "error",
		"prefer-named-capture-group": "off",
		"prefer-numeric-literals": "error",
		"prefer-object-has-own": "error",
		"prefer-object-spread": "error",
		"prefer-promise-reject-errors": "off",
		"prefer-regex-literals": "error",
		"prefer-rest-params": "error",
		"prefer-spread": "error",
		"prefer-template": "error",
		"quote-props": [
			"error",
			"as-needed",
			{
				"keywords": true,
				"unnecessary": true,
				"numbers": false
			}
		],
		"radix": "error",
		"require-await": "error",
		"require-unicode-regexp": "off",
		"sort-imports": "error",
		"sort-keys": "off",
		"sort-vars": "off",
		"spaced-comment": "off",
		"strict": "off",
		"symbol-description": "error",
		"vars-on-top": "error",
		"yoda": "error",

		"@typescript-eslint/ban-ts-comment": "warn",
		"@typescript-eslint/no-empty-function": [
			"error",
			{
				"allow": ["arrowFunctions"]
			}
		],
		"@typescript-eslint/no-explicit-any": "warn",
		"@typescript-eslint/no-this-alias": [
			"error",
			{
				"allowDestructuring": false,
				"allowedNames": ["self"]
			}
		],
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"varsIgnorePattern": "^_"
			}
		],

		"jsdoc/check-tag-names": "off",
		"jsdoc/no-undefined-types": "off",
		"jsdoc/require-param": "off",

		"no-jquery/no-animate": [
			"warn",
			{
				"allowScroll": true
			}
		],
		"no-jquery/no-class-state": "off",
		"no-jquery/no-each-util": "off",
		"no-jquery/no-fade": "off",
		"no-jquery/no-global-selector": "off",
		"no-jquery/no-sizzle": "off",
		"no-jquery/no-slide": "off",
		"no-jquery/variable-pattern": "off",

		"security/detect-non-literal-regexp": "off",
		"security/detect-unsafe-regex": "off",

		"unicorn/better-regex": "off",
		"unicorn/consistent-destructuring": "off",
		"unicorn/consistent-function-scoping": "off",
		"unicorn/error-message": "off",
		"unicorn/escape-case": "off",
		"unicorn/explicit-length-check": "off",
		"unicorn/filename-case": "off",
		"unicorn/no-abusive-eslint-disable": "off",
		"unicorn/no-array-callback-reference": "off",
		"unicorn/no-document-cookie": "off",
		"unicorn/no-hex-escape": "off",
		"unicorn/no-keyword-prefix": "off",
		"unicorn/no-nested-ternary": "off",
		"unicorn/no-null": "off",
		"unicorn/no-this-assignment": "off",
		"unicorn/no-unreadable-array-destructuring": "off",
		"unicorn/no-unsafe-regex": "off",
		"unicorn/no-unused-properties": "off",
		"unicorn/prefer-add-event-listener": "off",
		"unicorn/prefer-at": "off",
		"unicorn/prefer-code-point": "off",
		"unicorn/prefer-object-has-own": "off",
		"unicorn/prefer-query-selector": "off",
		"unicorn/prefer-regexp-test": "off",
		"unicorn/prefer-set-has": "off",
		"unicorn/prefer-string-replace-all": "off",
		"unicorn/prefer-ternary": "off",
		"unicorn/prefer-top-level-await": "off",
		"unicorn/prevent-abbreviations": "off",
		"unicorn/string-content": "off",
		"unicorn/switch-case-braces": ["error", "avoid"],

		"getter-return": ["error", {"allowImplicit": true}],
		"no-control-regex": "off",
		"quotes": [
			"error",
			"single",
			{
				"avoidEscape": true,
				"allowTemplateLiterals": true
			}
		]
	}
}
