{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx}": "prettier --ignore-unknown --write"
}
