.gadget-notify_conversion {
	&__title {
		margin: 0.5em auto;
	}

	&__message {
		line-height: 1.25;

		&_extend,
		&_privacy-notice {
			font-size: 90%;
		}
	}

	&__selection {
		display: flex;
		gap: 0.5em;
		flex-wrap: wrap;
	}
}
