@import './style-modules/core.less';

.Wikiplus-InterBox {
	max-width: 90vw;
}

.Wikiplus-Symbol-Btn {
	vertical-align: bottom !important;
}

/* see <https://github.com/Wikiplus/Wikiplus/issues/65> */
.mw-editsection-visualeditor {
	display: none;
}
