@import (reference) '../../variables.less';

/* [[MediaWiki:Gadgets-definition]] */
.rootpage-MediaWiki_Gadgets-definition {
	.mw-parser-output {
		li {
			font-family: @monospace-zh-hans, monospace, @emoji-font;
			font-size: 1.2em;
			overflow-wrap: break-word;

			html:lang(zh-hant) & {
				font-family: @monospace-zh-hant, monospace, @emoji-font;
			}
		}
	}
}
