@import (reference) '../../variables.less';

/* {{僻字}} */

.inline-unihan {
	border-bottom: 1px dotted;
	cursor: help;
	font-family: var(--fonts-sans), @unihan-sans-serif, sans-serif;
	font-variant: normal;

	&-tooltip {
		padding: 2px;
		border: 1px solid #aaa;
		background-color: #fffbe1;
	}
}
