@import (reference) '../variables.less';

.mbox {
	display: flex;
	max-width: 95%;
	flex-direction: column;
	place-content: center center;
	align-items: center;
	border-width: 1.25px;
	border-left-width: 0.375em;
	border-style: solid;
	border-radius: 0.25em;
	border-color: #36c;
	padding: 0.5em 0.5em 0.5em 0;
	margin: 0.25em auto;
	background: #def;
	border-collapse: inherit;

	&-body {
		display: flex;
		width: 100%;
		flex-flow: row nowrap;
		place-content: center space-between;
		align-items: center;
	}

	&-above,
	&-below {
		margin: auto;
	}

	&-above {
		padding: 0.5em 0.5em 0;
	}

	&-below {
		padding: 0 0.5em 0.5em;
	}

	&-text {
		width: 95%;
		flex: 1 1 95%;
		padding: 0.5em;
		border: 0;
	}

	&-image,
	&-imageright {
		border: 0;
		flex: 1 0;
		margin: auto;
		padding: 1px 0.75em;
		text-align: center;
	}

	&-image img,
	&-imageright img {
		max-width: 45px;
		height: auto;
		text-align: center;
	}

	&-empty-cell {
		width: 1px;
		padding: 0;
		border: 0;
	}

	&-notice {
		border-color: #36c;
		background: #def;
	}

	&-speedy,
	&.alert,
	&.red {
		border-color: #b22;
		background: #fee;
	}

	&-delete,
	&.tawny {
		border-color: #a97;
		background: #f0f0d8;
	}

	&-content,
	&.orange {
		border-color: #f28500;
		background: #fed;
	}

	&-style,
	&-rule,
	&.rule,
	&.yellow {
		border-color: #fc3;
		background: #ffc;
	}

	&-move,
	&.violet,
	&.purple {
		border-color: #93c;
		background: #fef;
	}

	&-protection,
	&-draft,
	&.gray,
	&.grey {
		border-color: #606060;
		background: #eee;
	}

	&-featured,
	&.brown {
		border-color: #cba135;
		background: #fec;
	}

	&-policy,
	&.green {
		border-color: #181;
		background: #cfc;
	}

	&-guideline,
	&.blue {
		border-color: #36c;
		background: #def;
	}

	&-license {
		border-width: 2px;
		border-color: #999;
	}

	&.license-pd {
		background: #f7f8ff;
	}

	&.license-cc {
		background: #f9f9f9;
	}

	&.license-other {
		background: #ffe;
	}

	&.license-free {
		background: #f3ffee;
	}

	&.license-nonfree {
		background: #fff9f9;
	}

	&.license-self {
		background: #f8f9fa;
	}

	&-disambig,
	&-setindex {
		border-color: #999;
		background: #fefefe;
	}

	& .mbox-text .mbox {
		border-radius: 0;
	}

	&.license-self .mbox-text .mbox {
		border-width: 1px;
	}

	&-inside .mbox {
		margin: 0.25em;
	}

	@media screen and (max-width: 768px) {
		width: 95%;
		width: calc(100% - 1em);
		max-width: 95%;
		max-width: calc(100% - 1em);

		&-image img,
		&-imageright img {
			max-width: 6vw;
		}

		&-image {
			padding: 2px 0 2px 2vw;
		}

		&-imageright {
			padding: 2px 2vw 2px 0;
		}

		&.licensetpl .mbox-image,
		&.licensetpl .mbox-imageright {
			display: none;
		}

		&-text {
			flex: 1 1 90vw;
			padding: 1vh 2vw;
		}
	}

	@media screen and (max-width: 480px) {
		&-small {
			width: 100%;
			margin: 0.25em auto !important;
			float: none;
		}
	}
}

.compact-mbox {
	.mbox {
		display: block;
		width: auto;
		padding: 0 !important;
		border-radius: 0.25em;
		margin: 0 0 0 1.6em !important;
		background: transparent;
		border-collapse: collapse;
	}

	.mw-collapsible-content .mbox {
		display: list-item;
		border: 0;
		margin-left: 1em !important;
		line-height: 1.5em;
		list-style-type: disc;
	}

	body.mediawiki .mbox-small-left {
		width: auto;
		margin: 0;
		clear: both;
		font-size: 100%;
	}

	div .mbox-text {
		margin: 0 !important;
	}

	.mbox-text .mbox-image,
	.mbox-text .mbox-imageright,
	.mbox-text .mbox-empty-cell {
		display: none;
	}
}

.tmbox {
	background: #f8eaba;

	.mbox-inside .mbox-small {
		font-size: 100%;
		line-height: 1.5em;
	}

	.mediawiki .mbox-inside .tmbox {
		width: 100%;
		margin: 2px 0;
	}
}

.fmbox {
	border-width: 1.25px;
	border-style: solid;
	border-color: #a2a9b1;
	border-radius: 1em;
	margin: 0.25em 0;
	background: #f8f9fa;
	clear: both;

	&-warning {
		border-color: #bb7070;
		background: #ffdbdb;
	}

	&-editnotice {
		background: fade(#fff, 70%);
	}

	&-system {
		padding: 0.25em 0;
		border-color: #a2a9b1;
		margin: 0.2em 0;
		background: #f8f9fa;
		clear: both;
	}
}

body.mediawiki {
	.mbox-small {
		max-width: 320px;
		margin: 4px 0 4px 1em !important;
		clear: both;
		float: right;
		font-size: 88%;
		line-height: 1.25em;
	}

	.mbox-small-left {
		width: 240px;
		margin: 4px 1em 4px 0 !important;
		border-collapse: collapse;
		font-size: 88%;
		line-height: 1.25em;
	}
}

.permissions-errors {
	border: 1px solid #a2a9b1;

	.fmbox {
		border: 0;
	}
}
