@import (reference) '../variables.less';

/**
 * [[MediaWiki:Noarticletext]]样式
 *
 * 部分来源于求闻百科的样式。
 */

.pagetitlecorrection,
.draftat,
.nopermissionnotice {
	padding: 0.5em 0;
	margin-bottom: 0.25em;
	text-align: center;
}

.pagetitlecorrection,
.draftat {
	border: 1px solid #fc3;
	background: #fef6e7;
}

.nopermissionnotice {
	border: 1px solid #bb7070;
	background: #ffdbdb;
}

.dymlink {
	text-decoration: underline;
}
