/* [[Special:Gadgets]] */
.mw-special-Gadgets p {
	margin: 0;
}

/* [[Special:MassEditRegex]] */
.mw-special-MassEditRegex .mw-summary-help {
	display: none;
}

/* [[Special:Contributions]] */
#t-mute {
	display: none;
}
