.rootpage-MediaWiki_Gadgets-definition {
	li:target {
		padding: 0.125em 0.25em;
		border: 1px solid #9e9;
		background-color: #eee;

		.client-darkmode & {
			border-color: #c71590;
			background-color: rgba(17, 17, 17, 0.25);
		}
	}
}
