.gadget-collapsible {
	&-toggler {
		font-weight: normal;
		-webkit-user-select: none;
		user-select: none;

		.mw-content-ltr & {
			margin-right: 0;
			margin-left: 0.5em;
			float: right;
			text-align: right;
		}

		.mw-content-rtl & {
			margin-right: 0.5em;
			margin-left: 0;
			float: left;
			text-align: left;
		}
	}
}
