@import (reference) '../variables.less';

.skin-vector-2022 #p-noteTA [id^='ca-noteTA-'] {
	max-height: 32px;
}

.skin-vector-legacy #p-noteTA.vector-menu-tabs-legacy {
	padding-left: 0;
}

.mw-indicator[id^='mw-indicator-noteTA-'] img {
	cursor: pointer;
}

.x-noteTA-viewer-output .error {
	color: @color--error;
	font-size: 1.2em;
	font-weight: bold;
}
