@import (reference) '../variables.less';

.disamassist {
	&-box {
		overflow: hidden;
		width: 95%;
		padding: 5px;
		border: 1px solid;
		margin: 0 auto;
		margin-bottom: 5px;
	}

	&-mainbox {
		border-color: @color--info;
		background: #b2b2ff;
	}

	&-pendingeditbox {
		border-color: #00f0ff;
		background: #c5fcff;
	}

	&-errorbox {
		border-color: @color--error;
		background: #ffb2b2;
	}

	&-errorbutton {
		float: right;
	}

	&-pagetitleline {
		font-weight: bold;
	}

	&-editcounter {
		float: right;
		font-size: 0.85rem;
	}

	&-subtitle {
		font-size: 0.875rem;
	}

	&-button {
		padding: 0 1px;
		font-size: 0.9rem;
	}

	&-allbuttons {
		clear: both;
	}

	&-leftbuttons {
		float: left;
	}

	&-rightbuttons {
		float: right;
	}

	&-optionmarker {
		color: #00f !important;
		font-size: 0.85rem;
		font-style: normal;
		font-weight: normal;
	}

	&-curroptionmarker {
		font-weight: bold;
	}

	&-inclink {
		color: #f00;
		font-weight: bold;
	}

	&-context {
		font-family: monospace;
	}
}
