@import (reference) '../variables.less';

.gadget-cookie_warning {
	position: fixed;
	z-index: 101;
	bottom: 1em;
	right: 0;
	left: 0;
	max-width: 92.5%;
	padding: 0.75em;
	border: 1px solid @const-color-gray;
	border-radius: @border-radius--medium;
	margin: 0.75em;
	background-color: @const-color-white;
	color: @const-color-primary;
	font-size: 0.9em;
	line-height: 1.25;
	opacity: 1;
	pointer-events: auto;

	p {
		margin: 0 auto 0.5rem;
	}

	.mw-ui-button,
	.cdx-button {
		display: block;
		width: 100%;
		padding: 0.5em 0;
		border-color: @color--primary;
		border-radius: @border-radius--small;
		margin: 0 auto;
		background-color: @color--primary;
		color: @const-color-white;
		line-height: 1;
		text-align: center;
	}

	@media screen and (min-width: 768px) {
		width: 20em;
		left: 0;
		right: auto;
	}
}
