.ve-activated {
	#easy_archive {
		&_enable_notice,
		&_stop_notice,
		&_supports_notice {
			display: none;
		}
	}
}

.skin-citizen {
	.easy-archive-section-id-span {
		font-size: 0.875rem;
		margin: 0 0.5rem;
	}
}
