@const-color-black: #000;
@const-color-white: #fff;
@color--primary: #36c;

@const-color-primary: mix(@const-color-black, @const-color-white, 90%); // #191919
@const-color-secondary: mix(@const-color-black, @const-color-white, 70%); // #4d4d4d
@const-color-inactive: mix(@const-color-black, @const-color-white, 50%); // #808080

@const-color-gray: mix(@const-color-black, @const-color-white, 10%); // #e6e6e6
@const-color-gray--dark: mix(@const-color-black, @const-color-white, 15%); // #d9d9d9
@const-color-gray--darker: mix(@const-color-black, @const-color-white, 20%); // #cccccc
@const-color-gray--light: mix(@const-color-black, @const-color-white, 5%); // #f2f2f2
@const-color-gray--lighter: mix(@const-color-black, @const-color-white, 1%); // #fcfcfc

@background-color-primary: rgba(51, 102, 204, 0.25); // @color--primary with 25% opacity
@background-color-primary--darkest: rgba(51, 102, 204, 0.75); // @color--primary with 75% opacity
@background-color-primary--darker: rgba(51, 102, 204, 0.5); // @color--primary with 50% opacity
@background-color-primary--light: rgba(51, 102, 204, 0.125); // @color--primary with 12.5% opacity
@background-color-primary--lighter: rgba(51, 102, 204, 0.0625); // @color--primary with 6.25% opacity
@background-color-primary--lightest: rgba(51, 102, 204, 0.0125); // @color--primary with 1.25% opacity
@background-color-light: rgba(255, 255, 255, 0.75);

@border-radius--small: 0.25em;
@border-radius--medium: 0.5em;
@border-radius--large: 0.75em;
@border-radius--pill: 9999px;

@color--error: #b32424;
@color--info: #36c;
@color--success: #181;
@color--warning: #a60;

@color-group--bot: #36c;
@color-group--confirmed: #181;
@color-group--patroller: #a60;
@color-group--steward: #800080;
@color-group--sysop: #c71590;

@emoji-font: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

@sans-serif-zh-hans: '-apple-system', 'BlinkMacSystemFont', 'MiSans', '小米兰亭 Pro VF', 'OPPO Sans', 'HarmonyOS Sans',
	'HONOR Sans', 'Source Sans Pro', 'Source Sans 3', 'Noto Sans CJK SC', 'Source Han Sans SC', 'DejaVu Sans',
	'Liberation Sans', 'Helvetica', 'Roboto', 'Microsoft YaHei', 'SFProDisplay-Regular';
@sans-serif-zh-hant: '-apple-system', 'BlinkMacSystemFont', 'MiSans', '小米兰亭 Pro VF', 'OPPO Sans', 'HarmonyOS Sans',
	'HONOR Sans', 'Source Sans Pro', 'Source Sans 3', 'Noto Sans CJK TC', 'Source Han Sans TC', 'DejaVu Sans',
	'Liberation Sans', 'Helvetica', 'Roboto', 'Microsoft JhengHei', 'SFProDisplay-Regular';
@sans-serif-ja: '-apple-system', 'BlinkMacSystemFont', 'MiSans', 'Source Sans Pro', 'Source Sans 3', 'Noto Sans CJK JP',
	'Source Han Sans JP', 'Helvetica', 'Roboto', 'Meiryo', 'SFProDisplay-Regular';

@serif-zh-hans: 'Source Serif', 'Noto Serif CJK SC', 'Source Han Serif SC', 'DejaVu Serif', 'Liberation Serif',
	'Linux Libertine', 'Georgia', 'Calibri', 'Times New Roman', 'Arial', 'STSong SC', 'SimSun';
@serif-zh-hant: 'Source Serif', 'Noto Serif CJK TC', 'Source Han Serif TC', 'DejaVu Serif', 'Liberation Serif',
	'Linux Libertine', 'Georgia', 'Calibri', 'Times New Roman', 'Arial', 'STSong TC', 'MingLiU';

@monospace-zh-hans: 'Consolas', 'JetBrains Mono', 'Noto Sans Mono', 'Noto Sans Mono CJK SC', 'Source Code Pro', 'Menlo',
	'SFMono-Regular', 'Roboto Mono', 'Monaco', 'DejaVu Sans Mono', 'Liberation Mono', 'Courier New', 'Courier';
@monospace-zh-hant: 'Consolas', 'JetBrains Mono', 'Noto Sans Mono', 'Noto Sans Mono CJK TC', 'Source Code Pro', 'Menlo',
	'SFMono-Regular', 'Roboto Mono', 'Monaco', 'DejaVu Sans Mono', 'Liberation Mono', 'Courier New', 'Courier';

@unihan: 'Plangothic P1', 'Plangothic P2', '方正宋体S-超大字符集', '方正宋体S-超大字符集(SIP)', '文泉驿等宽正黑',
	'BabelStone Han', 'HanaMinB', 'FZSong-Extended', 'Arial Unicode MS', 'Code2002', 'DFSongStd', 'unifont';

@cursive-zh-hans: '华文楷体', 'STKaiti', '楷体', 'KaiTi', '楷体_GB2312', 'KaiTi_GB2312', 'HYKaiti', 'FZKai-Z03S',
	'FZKaiS-Extended', 'FZKaiS-Extended(SIP)', '楷体-简', 'TH-Khaai-TP0', 'TH-Khaai-TP2', 'TH-Feon-A', 'AR PL UKai CN';
@cursive-zh-hant: '標楷體', 'DFKai-SB', 'BiauKai', 'Kai', '全字庫正楷體', 'TW-Kai', 'FZKaiT-Extended',
	'FZKaiT-Extended(SIP)', '楷体-繁', 'TH-Khaai-PP0', 'TH-Khaai-PP2', 'AR PL UKai HK', 'AR PL UKai TW', 'EUDCKAI';

@fangsong: 'Adobe Fangsong Std', 'STFangsong', 'FangSong', 'FangSong_GB2312', 'FZFangSong-Z02S', 'DFFangSong';
