@const-color-black: #000;
@const-color-white: #fff;
@const-color-blue: #36c;
@const-color-brown: #a60;
@const-color-darkred: #b32424;
@const-color-darkgray: #666;
@const-color-darkgreen: #338c60;
@const-color-darkpink: #c71590;
@const-color-orange: #f28500;
@const-color-red: #c33;
@const-color-violet: #800080;

@color--primary: @const-color-darkgreen;

@const-color-primary: mix(@const-color-black, @const-color-white, 90%); // #191919
@const-color-secondary: mix(@const-color-black, @const-color-white, 70%); // #4d4d4d
@const-color-inactive: mix(@const-color-black, @const-color-white, 50%); // #808080

@const-color-gray: mix(@const-color-black, @const-color-white, 10%); // #e6e6e6
@const-color-gray--dark: mix(@const-color-black, @const-color-white, 15%); // #d9d9d9
@const-color-gray--darker: mix(@const-color-black, @const-color-white, 20%); // #cccccc
@const-color-gray--light: mix(@const-color-black, @const-color-white, 5%); // #f2f2f2
@const-color-gray--lighter: mix(@const-color-black, @const-color-white, 1%); // #fcfcfc

@background-color-primary: fade(@color--primary, 25%); // @color--primary with 25% opacity
@background-color-primary--darkest: fade(@color--primary, 75%); // @color--primary with 75% opacity
@background-color-primary--darker: fade(@color--primary, 50%); // @color--primary with 50% opacity
@background-color-primary--light: fade(@color--primary, 12.5%); // @color--primary with 12.5% opacity
@background-color-primary--lighter: fade(@color--primary, 6.25%); // @color--primary with 6.25% opacity
@background-color-primary--lightest: fade(@color--primary, 1.25%); // @color--primary with 1.25% opacity

@background-color-light: fade(@const-color-white, 75%);

@border-radius--small: 0.25em;
@border-radius--medium: 0.5em;
@border-radius--large: 0.75em;
@border-radius--pill: 9999px;

@color--error: @const-color-darkred;
@color--info: @const-color-blue;
@color--success: @const-color-darkgreen;
@color--warning: @const-color-brown;
@color--purple: @const-color-violet;
@color--orange: @const-color-orange;

@color-group--bot: @const-color-blue;
@color-group--confirmed: @const-color-darkgreen;
@color-group--patroller: @const-color-brown;
@color-group--steward: @const-color-violet;
@color-group--sysop: @const-color-darkpink;

@emoji-font: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', emoji;

@sans-serif-latin: '-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'Source Sans Pro', 'Source Sans 3',
	'DejaVu Sans', 'Liberation Sans', 'Helvetica', 'Roboto', 'Inter', 'Arial', 'SFProDisplay-Regular';
@sans-serif-zh-hans: @sans-serif-latin, 'PingFang SC', 'Source Han Sans SC', 'Noto Sans CJK SC', 'Microsoft YaHei',
	'WenQuanYi Micro Hei';
@sans-serif-zh-hant: @sans-serif-latin, 'PingFang TC', 'Source Han Sans TC', 'Noto Sans CJK TC', 'Microsoft JhengHei',
	'WenQuanYi Micro Hei';
@sans-serif-ja: @sans-serif-latin, 'Source Han Sans JP', 'Noto Sans CJK JP', 'Meiryo';

@serif-latin: 'Source Serif 4', 'DejaVu Serif', 'Liberation Serif', 'Linux Libertine', 'Georgia', 'Calibri',
	'Times New Roman';
@serif-zh-hans: @serif-latin, 'Source Han Serif SC', 'Noto Serif CJK SC', 'STSong SC', 'STSong', 'SimSun';
@serif-zh-hant: @serif-latin, 'Source Han Serif TC', 'Noto Serif CJK TC', 'STSong TC', 'STSong', 'MingLiU';

@monospace-latin: 'Source Code Pro', 'Consolas', 'JetBrains Mono', 'Menlo', 'Roboto Mono', 'Monaco', 'DejaVu Sans Mono',
	'Liberation Mono', 'Courier New', 'Courier', 'SFMono-Regular';
@monospace-zh-hans: 'Source Han Mono SC', 'Source Han Mono', @monospace-latin, 'Microsoft YaHei', 'SimSun';
@monospace-zh-hant: 'Source Han Mono TC', 'Source Han Mono', @monospace-latin, 'Microsoft JhengHei', 'MingLiU';

@unihan-sans-serif: 'Arial Unicode MS', 'Plangothic P1', 'Plangothic P2', '文泉驿等宽正黑', 'unifont';
@unihan-serif: 'HanaMinB', '方正宋体S-超大字符集', '方正宋体S-超大字符集(SIP)', 'FZSong-Extended', 'BabelStone Han',
	'Code2002', 'DFSongStd', 'unifont';

@cursive-zh-hans: '华文楷体', 'STKaiti', '楷体', 'KaiTi', '楷体_GB2312', 'KaiTi_GB2312', 'HYKaiti', 'FZKai-Z03S',
	'FZKaiS-Extended', 'FZKaiS-Extended(SIP)', '楷体-简', 'TH-Khaai-TP0', 'TH-Khaai-TP2', 'TH-Feon-A', 'AR PL UKai CN';
@cursive-zh-hant: '標楷體', 'DFKai-SB', 'BiauKai', 'Kai', '全字庫正楷體', 'TW-Kai', 'FZKaiT-Extended',
	'FZKaiT-Extended(SIP)', '楷体-繁', 'TH-Khaai-PP0', 'TH-Khaai-PP2', 'AR PL UKai HK', 'AR PL UKai TW', 'EUDCKAI';

@fangsong: 'Adobe Fangsong Std', 'STFangsong', 'FangSong', 'FangSong_GB2312', 'FZFangSong-Z02S', 'DFFangSong';

@mncfont: 'Abkai Xanyan', 'Abkai Xanyan LA', 'Abkai Xanyan VT', 'Abkai Xanyan XX', 'Abkai Xanyan SC', 'Abkai Buleku',
	'Daicing White', 'Mongolian BT', 'Mongolian Universal White', 'Mongolian Baiti', 'Noto Sans Mongolian';
@monfont: 'Menk Hawang Tig', 'Menk Qagan Tig', 'Menk Garqag Tig', 'Menk Har_a Tig', 'Menk Scnin Tig',
	'Oyun Gurban Ulus Tig', 'Oyun Qagan Tig', 'Oyun Garqag Tig', 'Oyun Har_a Tig', 'Oyun Scnin Tig', 'Oyun Agula Tig',
	'Mongolian BT', 'Mongolian Universal White', 'Mongolian Baiti', 'Noto Sans Mongolian', 'Mongol Usug',
	'Mongolian White', 'MongolianScript', 'Code2000', 'Menksoft Qagan';
