/* 此处的CSS只会影响使用Vector皮肤（2022版新样式）的用户 */

/* 页顶 */
header.mw-header {
	flex-wrap: wrap !important;
}

/* 全站通告 */
#siteNotice {
	margin-bottom: 0.5rem;
}

/* 标题指示符号 */
.mw-indicators {
	display: flex;
	align-items: center;
	padding: 0.25rem 0 0;
	gap: 0.25rem;
}

#coordinates {
	top: 2em;
}

/* 边栏 */
.sidebar-toc-list-item {
	padding-left: 1rem !important;
}

.skin--responsive #mw-panel {
	border-right: 1px solid #c8ccd1;
	background-color: transparent;
	background-image: none !important;
}
